requests
wheel
pandas
matplotlib
html5lib
bs4
lxml
# aiohttp
aiohttp



# Selenium Libs
#selenium
#pywin32; sys_platform == 'win32'
#webdriver_manager; sys_platform != 'win32'

#Heroku
flask
gunicorn; sys_platform == 'linux'




# proxy_helpers libs
mysql-connector-python
#\\thinkcentre\F_usb_buffalo\Python\own_wheels\proxy_helpers-0.0.0.9-py3-none-any.whl

# requirements for setup
# https://medium.com/analytics-vidhya/how-to-create-a-python-library-7d5aea80cc3f
# https://docs.python.org/3.7/distutils/setupscript.html
#twine
#setuptools
#wheel

# commands for setup
# python setup.py bdist_wheel
# install wheel commands
# pip install /path/to/wheelfile.whl

# test commands:
# python setup.py pytest
# pytest
# pytest-runner


# python.exe -m pip install --upgrade pip
# python3 -m pip install --upgrade pip

# pip install -r requirements.txt
# pip install -r requirements.txt --upgrade

# python -m venv .venv
