requests
wheel
pandas
matplotlib
html5lib
bs4
lxml
tqdm

# Selenium Libs
#selenium
#pywin32; sys_platform == 'win32'
#webdriver_manager; sys_platform != 'win32'

#Heroku
streamlit
flask
gunicorn; sys_platform == 'linux'

# proxy_helpers libs
mysql-connector-python

# requirements for setup
# https://medium.com/analytics-vidhya/how-to-create-a-python-library-7d5aea80cc3f
# https://docs.python.org/3.7/distutils/setupscript.html
#twine
setuptools

# Commands for Flask
# flask --app app/main.py --debug run

# Commands for Streamlit
# streamlit run app_streamlit/main.py --server.port 8096
# https://discuss.streamlit.io/t/are-you-using-html-in-markdown-tell-us-why/96/25
# unsafe_allow_html=True


# commands for setup
# python setup.py bdist_wheel
# install wheel commands
# pip install /path/to/wheelfile.whl

# test commands:
# python setup.py pytest
pytest
pytest-runner


# python.exe -m pip install --upgrade pip
# python3 -m pip install --upgrade pip

# pip install -r requirements.txt
# pip install -r requirements.txt --upgrade

# python -m venv .venv
