{% extends 'base_bootstrap_css.html' %}
{% block css_import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">          
{% endblock %}

{% block js_script_top %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js" integrity="sha512-d6nObkPJgV791iTGuBoVC9Aa2iecqzJRE0Jiqvk85BhLHAPhWqkuBiQb1xz2jvuHNqHLYoN3ymPfpiB1o+Zgpw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


{% block body %}
<div class="container">
    <div class="container jumbotron text-center">
        <h2>{{ page_vars['h2_text'] }}</h2>
    </div>




  </div>
  <div class="container">
    <table class="table table-striped" id="hp_table" data-pagination="true" data-search="true">
        <thead>
                  <tr>
                    <th data-field="trade_date" class="text-center" data-sortable="true" data-formatter="dateFormat">
                        <span class="text-success">Trade Date</span>
                    </th>

                    <th data-field="etf_ticker" class="text-center" data-sortable="true">
                        <span class="text-success">Ark Fund</span>
                    </th>
                    <th data-field="ticker" class="text-center" data-sortable="true">
                        <span class="text-success">Ticker</span>
                    </th>
                    <th data-field="cusip" class="text-center" data-sortable="true">
                        <span class="text-success">CUSIP</span>
                    </th>
                    <th data-field="company_name" class="text-center" data-sortable="true">
                        <span class="text-success">Company Name</span>
                    </th>
                    <th data-field="buy_sell" class="text-center" data-sortable="true" data-formatter="buysellFormat">
                        <span class="text-success">Buy/Sell</span>
                    </th>
                    <th data-field="quantity" class="text-center"  data-formatter="numberFormat">
                        <span class="text-success">Quantity</span>
                    </th>
                    <th data-field="weighting" class="text-center" >
                        <span class="text-success">Weighting</span>
                    </th>


                  </tr>
        </thead>



    </table>

</div>


{% endblock %}


{% block js_script_bottom %}

<script src="{{ url_for('static', filename='js/table_handlers/bootstrap_table.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/format_handlers/data_formaters.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    var hp_table_id = document.getElementById("hp_table");


</script>
{% endblock %}


