{% extends 'base_bootstrap_css.html' %}
{% block css_import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">          
{% endblock %}

{% block js_script_top %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js" integrity="sha512-d6nObkPJgV791iTGuBoVC9Aa2iecqzJRE0Jiqvk85BhLHAPhWqkuBiQb1xz2jvuHNqHLYoN3ymPfpiB1o+Zgpw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


{% block body %}
<div class="container">
    <div class="container jumbotron text-center">
        <h2>{{ page_vars['h2_text'] }}</h2>
    </div>

  </div>
  <div class="container">
    <table class="table table-striped" id="hp_table_id" data-pagination="true" data-search="true">
        <thead>
                  <tr>
                    <th data-field="post_datetime" class="text-center" data-sortable="true" data-formatter="dateFormat">
                      <span class="text-success">Post Date</span>
                    </th>
                    <th data-field="username" class="text-center" data-sortable="true">
                        <span class="text-success">Username</span>
                    </th>
                    <th data-field="user_profile_url" class="text-center" data-sortable="true">
                        <span class="text-success">User profile</span>
                    </th>

                    <th data-field="post_url" class="text-center" data-sortable="true">
                        <span class="text-success">Post URL</span>
                    </th>
                    <th data-field="me_too" class="text-center">
                        <span class="text-success">Me too</span>
                    </th>
                    <th data-field="post_tags" class="text-center" >
                        <span class="text-success">Post tags</span>
                    </th>


                  </tr>
        </thead>



    </table>

</div>


{% endblock %}


{% block js_script_bottom %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.21.1/bootstrap-table.min.js" integrity="sha512-/OzWt35/0T0ed3ffIJV97dPBS0pFnHB9kewb/hheD9fyWqwM/mFTw+WFDaZ4eNP6/9z3Q1hKYEaUCvQlZmyj7w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static', filename='js/table_handlers/bootstrap_table.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/format_handlers/data_formaters.js') }}" type="text/javascript"></script>

<script type="text/javascript">
  var json_dataset = {{ page_vars['json_dataset']|safe }};
  json_dataset = json_dataset['data'];
  var hp_table_id = document.getElementById("hp_table_id");


  buildDataset(hp_table_id, json_dataset);

  function buildDataset(table_id, json_dataset){
    // get headers
    let table_header_elements = hp_table_id.querySelectorAll("th[data-field]");
    let table_headers=[];
    for (let i=0; i<table_header_elements.length;i++){
      table_headers.push(table_header_elements[i].getAttribute('data-field'));
    }
    console.log('table headers');
    console.log(table_headers);
    //console.log(json_dataset);
    // parse json file by headers
    json_dataset.forEach(function (item, index) {
      console.log(item, index);
    });

    table_populator(json_dataset, hp_table_id, true)
  }


  //$( document ).ready(table_populator("{{json_dataset}}", $ark_trades, true));

</script>
{% endblock %}


