{% extends 'base_bootstrap_css.html' %}
{% block css_import %}
{{ super()}}
{% endblock %}

{% block js_script_top %}
{{ super()}}

{% endblock %}


{% block body %}
{{ super()}}
<div class="container">
    <div class="container jumbotron text-center">
        <h2>{{ page_vars['h2_text'] }}</h2>
    </div>
    <hr>
    <div class="container">
      <ul>
        <li><b>"Posts": </b>defines new post on HP Forum for a given user claiming that they have had the broken hinge issue</li>
        <li><b>"Me toos": </b>defines users that replied to a given post mentioning that they had the same issue but didn't post a separate claim</li>
      </ul>
    </div>
    <hr>
    <div class="container">
      
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <h5>Posts today:</h5>
            </div>
            <div class="col" id="posts_per_day_id">
              <h5></h5>
            </div>
        <div class="col">
          <h5>Posts this month:</h5>
        </div>
        <div class="col" id="posts_per_month_id">
          <h5></h5>
        </div>
        <div class="col">
          <h5>Posts this year:</h5>
        </div>
        <div class="col" id="posts_per_year_id">
          <h5></h5>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h5>Me toos today:</h5>
        </div>
        <div class="col" id="metoos_per_day_id">
          <h5>fsfsdf</h5>
        </div>
        <div class="col">
          <h5>Me toos this month:</h5>
        </div>
        <div class="col" id="metoos_per_month_id">
          <h5>fsfsdf</h5>
        </div>
        <div class="col">
          <h5>Me toos this year:</h5>
        </div>
        <div class="col" id="metoos_per_year_id">
          <h5>fsfsdf</h5>
        </div>
      </div>
      
    </div>
    <hr>
    <div class="container button-active-handler">
      <button  class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Histo: All or since 2017
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" onclick="setChartsWithDropdowns(this)" href="#">Since 2017</a></li>
        <li><a class="dropdown-item" onclick="setChartsWithDropdowns(this)" href="#">All</a></li>
      </ul>
    </div>

    <hr>

    <div class="container">
      <div class="row justify-content-md-center">
          <h5>Historic of yearly posted complains:</h5>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <canvas id="chart_histo_yearly"></canvas>
    </div>

    
    <hr>
    
    <div class="container">
      <div class="row justify-content-md-center">
          <h5>Historic of monthly posted complains:</h5>
      </div>
      <div class="row justify-content-md-center">
          <canvas id="chart_histo_monthly"></canvas>
      </div>
    </div>



  </div>
{% endblock %}


{% block js_script_bottom %}
{{ super()}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/misc_libs/date_handlers.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/chartjs_handlers/chart_builders.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/element_handlers/dropbox_handlers.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/grouping_handlers/group_by_dates.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/statistic_handler/array_averages.js') }}" type="text/javascript"></script>




<script type="text/javascript">
    var histo_monthly_id = document.getElementById("chart_histo_monthly");
    var histo_yearly_id = document.getElementById("chart_histo_yearly");
    var chart_histo_monthly;
    var chart_histo_yearly;
    var json_dataset = {{ page_vars['json_dataset']|safe }};

    var metoo = getMeTooUsers(json_dataset['data']);
    // Find metoo users
    function getMeTooUsers(arr){
      let temp_username = {};
      let temp_metoo = [];

      arr.forEach(function (element){
        let clean_metoo = element['me_too'].replace(/(^"|"$)/g, '');
        if (clean_metoo){
            clean_metoo_parsed = JSON.parse(clean_metoo);
            clean_metoo_parsed.forEach(function(element) {
              // get the list of all metoos
              //metoo[element['username']] = [...metoo[element['username']]??[] ,[element['post_datetime']] ]
              // will take only the first one
              // temp_username[element['username']] = temp_username[element['username']]??{"post_datetime":element['post_datetime']}
              // building correct dataset
              if (temp_username[element['username']]===undefined){
                temp_username[element['username']] = element['username'];
                temp_metoo.push({"username":element['username'], "post_datetime":element['post_datetime']});
              }
            })
            }
      })

      return temp_metoo;
    }

    //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    // needs to check sorting order etc
    var post_per_day = getPostPerDay(json_dataset['data'], "post_datetime");
    document.getElementById("posts_per_day_id").innerText = post_per_day[0]['count'];
    document.getElementById("posts_per_month_id").innerText = group_by_month(json_dataset['data'], 'post_datetime')[0]['count'];
    document.getElementById("posts_per_year_id").innerText = group_by_year(json_dataset['data'], 'post_datetime').at(-1)['count'];
    
    document.getElementById("metoos_per_day_id").innerText = group_by_day(metoo, 'post_datetime').at(-1)['count'];
    document.getElementById("metoos_per_month_id").innerText = group_by_month(metoo, 'post_datetime').at(-1)['count'];
    document.getElementById("metoos_per_year_id").innerText = group_by_year(metoo, 'post_datetime').at(-1)['count'];
    //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    

    function getPostPerDay(dataset, post_datetime){
      const result = group_by_day(json_dataset['data'], post_datetime);
      console.log("post_by_day");
      console.log(result);
      return result;

    }

    // initiate charts
    setChartWithDatasets(2017);

    function setChartWithDatasets(post_after_year){
      // destroy charts
      if (chart_histo_yearly) {    chart_histo_yearly.destroy();  }
      if (chart_histo_monthly) {    chart_histo_monthly.destroy();  }

      // create datasets
      let dataset_post; 
      let dataset_metoo;
      if (Number.isInteger(post_after_year)){
        dataset_post = filter_post_after_date(json_dataset['data'],'post_datetime', post_after_year).reverse();
        dataset_metoo = filter_post_after_date(metoo,'post_datetime', post_after_year);
      }else{
        dataset_post = [...json_dataset['data']].reverse();
        dataset_metoo = metoo;
      }

      // yearly chart
      const post_by_year = group_by_year(dataset_post, 'post_datetime');
      // console.log("post_by_year");
      // console.log(post_by_year);
      const me_too_by_year = group_by_year(dataset_metoo, 'post_datetime');
      // console.log("me_too_by_year");
      // console.log(me_too_by_year);
      // canvas_id, chart_type, datasets, serie_names
      chart_histo_yearly = chartJsBuilderMultipleDatasets(histo_yearly_id, 'bar', [post_by_year, me_too_by_year],['Post by year','Me Too by year'], true);

      // monthly chart
      const post_by_month = group_by_month(dataset_post, 'post_datetime');
      // console.log("post_by_month");
      // console.log(post_by_month);
      const me_too_by_month = group_by_month(dataset_metoo, 'post_datetime');
      // console.log("me_too_by_month");
      // console.log(me_too_by_month);
      // canvas_id, chart_type, datasets, serie_names
      chart_histo_monthly = chartJsBuilderMultipleDatasets(histo_monthly_id, 'bar', [post_by_month, me_too_by_month],['Post by month','Me Too by month'], true);

    }
    



    function filter_post_after_date(arr,date_key, post_after_year, ){
      result = arr.filter(row => {
                                // console.log(row[date_key]);
                                let year = new Date(row[date_key]).getFullYear();
                                // console.log(year);
                                return (post_after_year <= year);
       });
       return result;
    }
    
    function setChartsWithDropdowns(button_clicked_element){
      let result = dropdown_active_inactive(button_clicked_element, 'Histo');
      if (result.innerHTML.includes(String(2017))){
        setChartWithDatasets(2017);
      }else{
        setChartWithDatasets("All");
      }
    }

   




</script>

{% endblock %}

