{% extends 'base_bootstrap_css.html' %}




{% block body %}
    <div class="container p-5 my-5 bg-primary text-white">
        <h5>{{ page_vars['h2_text'] }}</h5>


    </div>

    <div class="container">
        <div class="chart_title">
            <h5>Historic of complains</h5>
        </div>
        <canvas id="chart_histo"  width="400" height="400"></canvas>

    </div>


{% endblock %}


{% block js_script_bottom %}
<script>
    var chart_canvas_id = document.getElementById("chart_histo");
    var chart_histo;
    const json_dataset = {{ page_vars['json_dataset']|safe }};
    console.log(json_dataset);

    console.log("It is working");
    function createChartHisto(){
        // delete if previous chart if any
        if (chart_graph!=undefined | chart_graph!=null) {
            chart_graph.destroy();
        }
        
        // https://css-tricks.com/the-many-ways-of-getting-data-into-charts/
        let xLabels = new Set();
        let arkDatasetLabels=new Set();
        let chart_values =  [];
        $.each(chartData, function(index, keyword) {
            // Create an Array for each data object
            // https://stackoverflow.com/questions/44396778/add-data-to-dynamically-created-chart-js-dataset

            console.log("index: "+ index+ ", keyword: "+keyword);
            let row_dict = {};
            $.each(keyword, function(index, data) {

                row_dict[index] = String(data);

                // console.log("index: "+ index+ ", data: "+data+", index type"+typeof index);
                if (index=="etf_ticker"){
                    arkDatasetLabels.add(data);

                }
                if (index=="trade_date"){
                    xLabels.add(new Date(data));

                }



            });
            chart_values.push(row_dict);
        });


    }


</script>
{% endblock %}


