{% extends 'base_bootstrap_css.html' %}

{% block js_script_top %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js" integrity="sha512-d6nObkPJgV791iTGuBoVC9Aa2iecqzJRE0Jiqvk85BhLHAPhWqkuBiQb1xz2jvuHNqHLYoN3ymPfpiB1o+Zgpw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


{% block body %}
    <div class="container p-5 my-5 bg-primary text-white">
        <h5>{{ page_vars['h2_text'] }}</h5>


    </div>

    <div class="container">
        <div class="chart_title">
            <h5>Historic of complains</h5>
        </div>
        <canvas id="chart_histo"  width="400" height="400"></canvas>

    </div>


{% endblock %}


{% block js_script_bottom %}


<script src="{{ url_for('static', filename='js/misc_libs/date_handlers.js') }}" type="text/javascript"></script>

<script>
    var chart_canvas_id = document.getElementById("chart_histo");
    var chart_histo;
    
    const json_dataset = {{ page_vars['json_dataset']|safe }};


    createChartHisto(json_dataset['data']);



    function createChartHisto(chart_data){
        


        // delete if previous chart if any
        if (chart_histo!=undefined | chart_histo!=null) {
            chart_histo.destroy();
        }
        
        // https://css-tricks.com/the-many-ways-of-getting-data-into-charts/
        // declare variables
        var x_values = new Set();
        var data_set_values = new Set();
        let chart_values =  [];
        // set values
        $.each(chart_data, function(index, data_rows) {
            // Create an Array for each data object
            // https://stackoverflow.com/questions/44396778/add-data-to-dynamically-created-chart-js-dataset

            let row_dict = {};
            $.each(data_rows, function(index, col) {
                // console.log("index: "+ index+ ", data: "+data+", index type"+typeof index);
                if (index=="hp_post_id"){
                    data_set_values.add(col);
                }
                if (index=="post_datetime"){
                    x_values.add(timestamp_to_date(col));
                }
                row_dict[index] = col

            });
            chart_values.push(row_dict);
        });
        console.log("chart_values:");
        console.log(chart_values);
      

    }


</script>
{% endblock %}


