{% extends 'base_bootstrap_css.html' %}

{% block js_script_top %}
{% endblock %}

{% block css_import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}

    <div class="container jumbotron text-center">
        <h1> {{ page_vars['h2_text'] }}</h1>
    </div>

    <div class="container p-5 my-5 bg-primary">
        {% include 'bootstrap_templates/carousel_broken_hinge.html' %}
    </div>
{% endblock %}

{% block js_script_bottom %}

{% endblock %}
